*{
    margin: 0;
    padding:0;
    font-family:'Courier New', Courier, monospace;
}
body{
    background-color:rgba(139, 215, 241, 0.873);
    min-width: 100vh;
    
}
h1{
    padding:20px;
}
h1,h2{
    text-align: center;
    margin-top:10px;
}

div{
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    
}
b{
    margin-top:20px;
}
input[type=email]{
    margin-bottom:20px;
}

input[type=radio]{
    border:10px solid black;
    margin-top:20px;

}
form{
    display:flex;
    flex-direction: column;
    background-color:white;
    width:300px;
    height:420px;
    border-radius: 10px;

    
    
}

label{
    margin-right:20px;
    margin-top:20px;
    font-size:20px;
}

input{
    border-radius: 5px;
    font-size:15px;
    padding:5px;
    background-color: aliceblue;
    

      

}